---
layout: default
---
<div class="post">
  <div class="meta">
    <h1>{{ page.title }}</h1>
    <p class="post_time">{{ page.date | date_to_string }}, <a href="#disqus_thread">comments</a></p>
  </div>

  <div class="article_body">
    {{ content }}
  </div>

  <script type="text/javascript">
    var disqus_url = "http://snailjn.github.io{{ page.url }}"; 
    var disqus_title = "{{ page.title }}";
  </script>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/snailjngithub/embed.js"></script>
  <noscript>
    <a href="http://snailjngihub.disqus.com/?url=ref">View the discussion thread.</a>
  </noscript>
</div>
